body{
    background-color: #F8ECD1;
}

.heading{
    font-family: 'Permanent Marker', cursive ,serif;
    font-size: 3rem;
    font-weight: 400;
}
.player{
    font-family: 'Satisfy', cursive;
}
.wlHead {
    font-family: 'Permanent Marker', cursive ,serif;
}

/*-- DICE--*/

.dice{
    height: 12rem;
    width: 12rem;
    background-color: #85586F;
    border-radius: 10%;
}

.point{
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: whitesmoke;
    border-radius: 100%;
    margin-left: 1rem;
}

.left{
    visibility: hidden;
}
.right{
    visibility: hidden;
}




/*--CONTENT--*/

